* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/*! navbar styles are here */
.navbar {
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cart {
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
  position: relative;
}
.cartAmount {
  background-color: red;
  color: white;
  font-size: 16px;
  position: absolute;
  top: -15px;
  right: -8px;
  padding: 5px;
  border-radius: 25px;
}
.shop {
  display: grid;
  grid-template-columns: repeat(5, 223px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 60px;
}
@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}
.item {
  border: 2px solid #212529;
  border-radius: 4px;
}
.details {
  padding: 10px;
}
.details h3 {
  padding-bottom: 10px;
}
.details p {
  padding-bottom: 10px;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
}
.button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
}
.bi-dash {
  color: blue;
  cursor: pointer;
}
.bi-plus-lg {
  color: red;
  cursor: pointer;
}
.money {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  align-items: center;
}
.spent {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  align-items: center;
  padding: 5px;
  background: green;
  border-radius: 6px;
}
.total-spent {
  font-weight: 500;
  font-size: 24px;
}
